
<div #card class="card-container">
    <div class="card">
        <h1>{{name}}</h1>
        <div class="frame">
            <div [hidden]="!hideiframe" #cover class="cover"></div>
            <iframe #frame [src]="url | safe:'resourceUrl'" frameborder="0"></iframe>
        </div>
        <div class="bottom-frame">NO. {{id}} | {{frameworks}}</div>
        <h2>{{h1}}</h2>
        <p [innerHTML]="p1 | safe: 'html'"></p>
        <h2>{{h2}}</h2>
        <p [innerHTML]="p2 | safe: 'html'"></p>
        <div class="footer">
            <p>{{date}}</p>
            <p>Nicholas Yeung</p>
        </div>
    </div>
    
</div>