
<div #card class="card-container">
    <div class="card" [ngStyle]="{background: backgroundUrl, backgroundRepeat: 'no-repeat', backgroundSize: 'cover'}">
        <h1>{{name}}</h1>
        <div class="frame" *ngIf="inspectcard == true">
            <div [hidden]="!hideiframe" #cover class="cover"></div>
            <img [hidden]="urlType != 'image'" [src]="url | safe:'resourceUrl'">
            <video [hidden]="urlType != 'video'" play loop="true" [autoplay]="inspectcard" muted loop plays-inline [src]="url | safe:'resourceUrl'"></video>
            <iframe [hidden]="urlType != 'iframe'" [src]="url | safe:'resourceUrl'" frameborder="0"></iframe>
        </div>
        <div class="frame" *ngIf="inspectcard == false">
            <div [hidden]="!hideiframe" #cover class="cover"></div>
            <div class="placeholder-image" [style.backgroundImage]="backgroundUrl"></div>
        </div>
        <div class="bottom-frame">NO. {{id}} | {{frameworks}}</div>
        <h2>{{h1}}</h2>
        <p [innerHTML]="p1 | safe: 'html'"></p>
        <h2>{{h2}}</h2>
        <p [innerHTML]="p2 | safe: 'html'"></p>
        <div class="footer">
            <p>{{date}}</p>
            <p>Nicholas Yeung</p>
        </div>
    </div>
    <div #glare *ngIf="inspectcard==true" class="light-glare"></div>
</div>
<div #backface *ngIf="inspectcard==true" class="card-container backface"></div>




