.card {
    padding: 0.3rem 1rem;
    border-radius: 10px;
    border: 2px rgb(186, 186, 186) solid;
    transition: 1s ease-in-out;
    display: flex;
    flex-direction: column;
}
.animation {
    position: absolute;
    transform-style: preserve-3d;
    animation: popup 2s ease-out;
    backface-visibility: hidden;
}
.backface {
    transform: rotateY(180deg);
    transform-style: preserve-3d;
    animation: popup 2s ease-out;
}
@keyframes popup {
    0% {
        transform: rotateX(20deg) rotateY(320deg) rotateZ(50deg);
    }
    20% {
        box-shadow: rgba(255, 255, 255, 0.592) 0px 0px 10rem;
    }
    50% {
        transform: rotateX(0deg) rotateY(0deg);
    }
    100% {
        box-shadow: none;
    }
}

.lead-in {
    animation: lead-in 0.3s ease-in forwards;
}
@keyframes lead-in {
    0%{
        
    }
    100% {
        transform: scale(200%);
        opacity: 0;
    }
}
.card h1 {
    font-family: "haboro-soft", sans-serif;
    font-weight: 800;
    font-style: normal;

    font-size: 2rem;
    padding-left: 0.3rem;
    padding-right: 0.3rem;
    
    margin-top: 0.2rem;
    margin-bottom: 0.3rem;
}
.card p {
    font-family: "haboro-soft", sans-serif;
    font-weight: 500;
    font-style: normal;

    font-size: 1rem;
    text-align: justify;

    margin-top: 0;
    margin-bottom: 0;
}
.card h2 {
    text-align: center;

    font-family: "haboro-soft", sans-serif;
    font-weight: 700;
    font-style: normal;

    font-size: 1.5rem;

    margin-bottom: 0;
}
.card b {
    font-family: "haboro-soft", sans-serif;
    font-weight: 700;
    font-style: normal;
}
.card a {
    text-decoration: none;
    color: black;
}
.card a:visited {
    color: black;
}
.card a:hover {
    color: gray;
}
.frame {
    position: relative;
    width: 100%;
    height: 300px;
}
.card iframe {
    width: 100%;
    box-sizing: border-box;
    height: 300px;
    border: silver 5px solid;
    border-radius: 5px 5px 0px 0px;
    box-shadow: 2px 0px 2px gray;
    background-color: black;
}
.cover {
    position: absolute;
    box-sizing: border-box;
    width: 100%;
    height: 300px;
    pointer-events: all;
    object-fit: cover;
}
.bottom-frame {
    margin-top: -4px;
    margin-right: -7px;
    margin-left: -7px;
    margin-bottom: 1rem;

    border-radius: 10px;
    background: rgb(220, 220, 220);
    font-family: "Gill Sans", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 0.7rem;
    text-align: center;
    height: 1rem;
    border: 2px solid silver;
}
.card-container {
    display: flex;
    width: 500px;
    height: 700px;
    background: rgb(192,192,192);
    background: linear-gradient(135deg, rgba(192,192,192,1) 10%, rgba(235,235,235,1) 30%, rgba(192,192,192,1) 50%, rgba(218,218,218,1) 78%, rgba(192,192,192,1) 95%);
    z-index: 2;
    padding: 20px;
    border-radius: 30px;

    perspective: 250cm;
}
.static-shadow {
    box-shadow: -15px 5px 30px rgb(69, 53, 36);
}
.shadow-float {
    animation: float 2s ease-in-out infinite;
}
@keyframes float {
    0% {
        transform: translateY(0) translateX(0);
        box-shadow: -15px 5px 30px rgb(69, 53, 36);
    }
    50% {
        transform: translateY(-20px) translateX(10px);
        box-shadow: -30px 20px 80px rgb(77, 60, 43);
    }
    100% {
        transform: translateY(0) translateX(0);
        box-shadow: -15px 5px 30px rgb(69, 53, 36);
    }
}
.footer {
    margin-top: auto;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-top: gray 2px solid;
    padding-top: 0.5rem;
}