.nav {
    width: 100%;
    position: fixed;
    top: 0;
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0.804359243697479) 50%, rgba(0,0,0,0.6026785714285714) 69%, rgba(0,0,0,0) 100%);
    z-index: 100;
    padding-bottom: 2em;
}
.container {
    display: flex;
    justify-content: flex-end;
    margin: 0px 24px
}
.nav-item {
    color:white;
    font-size: 1.3em;
    padding: 0px 0.2em;
}
.link {
    text-decoration: underline;
}
.link:hover {
    cursor: pointer;
}