<div class="cover"></div>
<img class="desk-layer" src={{deskLayerSrc}}>

<div class="container">
    <div #plane class="plane">
        <!-- <div>
            <app-card [data]="data[0]" [hideiframe]="hideiframe" class="card"></app-card>
        </div>
        <div>
            <app-card [data]="data[0]" [hideiframe]="hideiframe" class="card"></app-card>
        </div>
        <div>
            <app-card [data]="data[0]" [hideiframe]="hideiframe" class="card"></app-card>
        </div>
        <div>
            <app-card [data]="data[0]" [hideiframe]="hideiframe" class="card"></app-card>
        </div>
        <div>
            <app-card [data]="data[0]" [hideiframe]="hideiframe" class="card"></app-card>
        </div> -->
        <app-card [data]="data[0]" [hideiframe]="hideiframe" class="card"></app-card>
        <app-card [data]="data[0]" [hideiframe]="hideiframe" class="card"></app-card>
        <app-card [data]="data[0]" [hideiframe]="hideiframe" class="card"></app-card>
    </div>
</div>

<img class="desk" src={{deskSrc}} alt="image of desk">
