.container {
    display: flex;
    width: 100vw;
    height: 100vh;
    background: rgb(4, 116, 21);
    perspective: 2000px;
}
.cover {
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: 999;
    background-color: rgb(0, 0, 0);
    opacity: 0%;
    animation: 1s ease-in-out fadein;
    pointer-events: none
}
@keyframes fadein {
    0% {
        opacity: 100%
    }
    50% {
        opacity: 100%
    }
    100% {
        opacity: 0%
    }
}

.card {
    position: fixed;
    top: 25vh;
    left: 40vw;
    box-shadow: 2px 10px 50px rgb(47, 47, 47);
    transform: scale(70%) rotateX(30deg) rotateY(17deg) rotateZ(-30deg)
}

