.container {
    width: 100vw;
    height: 100vh;
    background: rgb(4, 116, 21);
}
.cover {
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: 999;
    background-color: rgb(0, 0, 0);
    opacity: 0%;
    animation: 1s ease-in-out fadein;
    pointer-events: none
}
@keyframes fadein {
    0% {
        opacity: 100%
    }
    50% {
        opacity: 100%
    }
    100% {
        opacity: 0%
    }
}

.card {
    height: 700px;
    width: 900px;
    background: #FFFDD0;
    padding: 0.5rem;
    transition: 1s ease-in-out;
}
.card h1 {
    font-family: "nicholas", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 2rem;
}
.card p {
    font-family: "nicholas", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1rem;
}
.card iframe {
    width: 100%;
    height: 80%
}