.container {
    position: absolute;
    width: 100vw;
    height: 100vh;
    perspective: 152cm;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.plane {
    display: block;
    position: fixed;
    
    z-index: 5;
    width: 2560px;
    height: 1440px;
    opacity: 100%;
    transform: rotateX(42deg) rotateY(0deg) rotateZ(-32deg);
}
.cover {
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: 999;
    background-color: rgb(0, 0, 0);
    opacity: 0%;
    animation: 1s ease-in-out fadein;
    pointer-events: none
}
@keyframes fadein {
    0% {
        opacity: 100%
    }
    50% {
        opacity: 100%
    }
    100% {
        opacity: 0%
    }
}

.card {
    position: absolute;
    transform: scale(45%) translate(-55%, -55%);
    cursor: grab;
    opacity: 0;
    transition: transform 0.5s;
    animation: cardsFadeIn 200ms ease forwards;
}

@media( max-width: 1700px) {
    .card {
        transform: scale(35%) translate(-100%, -80%);
    }
}
@media(max-height: 800px) {
    .card {
        transform: scale(35%) translate(-100%, -80%);
    }
}
@media(max-width: 800px) {
    .card {
        transform: scale(30%) translate(-110%, -100%);
    }
}
@media(max-height: 500px) {
    .card {
        transform: scale(30%) translate(-110%, -100%);
    }
}
.card:nth-child(1) {
    animation-delay: 1000ms;
}
.card:nth-child(2) {
    animation-delay: 1100ms;
}
.card:nth-child(3) {
    animation-delay: 1200ms;
}
.card:nth-child(4) {
    animation-delay: 1300ms;
}
.card:nth-child(5) {
    animation-delay: 1400ms;
}
.card:nth-child(6) {
    animation-delay: 1500ms;
}
.card:nth-child(7) {
    animation-delay: 1600ms;
}
.card:nth-child(8) {
    animation-delay: 1700ms;
}
@keyframes cardsFadeIn {
    0% {
        opacity: 0;
        left: 70%;
    }
    100% {
        opacity: 1;
    }
}
.desk {
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    object-fit: cover;
}

.desk-layer {
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 900;
    object-fit: cover;
    pointer-events: none;

}