<div class="draggable">
    <app-canvas #intro [ngStyle]="getBackgroundStyle()" class="background"></app-canvas>
    <div class="header">
        <h1 [ngStyle]="getHeaderStyle()">hi,&nbsp;i'm&nbsp;nick</h1>
    </div>
    <div class="body">
        <div class="body-1">
            <h2 #fadein class="hidden">aspiring&nbsp;programmer</h2>
            <p #fadein class="hidden">proficient in Angular, React, & React Native, see my <a href="/projects">projects</a></p>
        </div>
        <div class="body-2">
            <h2 #fadein class="hidden">education</h2>
            <p #fadein class="hidden">junior in computer science at UW Madison, see my <a href="/resume">resume</a></p>
        </div>
        
    </div>
    <video #keyboard #fadein class="video-container hidden" playsinline autoplay muted="muted" loop>
        <source src={{keyboardSrc}} type="video/mp4">
    </video>
    <video #madison #fadein class="video-container hidden" playsinline autoplay muted="muted" loop>
        <source src={{madisonSrc}} type="video/mp4">
    </video>
    
</div>
<div class="footer">
    <p>Socials: <a href="https://www.youtube.com/@yourhomiesushi" target="_blank">Youtube</a>&nbsp;|&nbsp;<a href="https://www.linkedin.com/in/nick-yeung-1ab6972a9/" target="_blank">LinkedIn</a>&nbsp;|&nbsp;<a href="https://www.instagram.com/nickisapotato/">Instagram</a></p>
    <div class="back-to-top">
        <a href="/">↑&nbsp;back&nbsp;to&nbsp;top</a>
    </div>
    
</div>
