.filler {
    position:absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    width: 100%;
    height: 100%;
    z-index: -2;
}
.background {
    z-index: -1;
    animation: fadeIn 1s;
}
.wrapper{
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.header {
    color: #FFFDD0;
    font-weight: bold;
    max-width: 100%;
    max-height: 100%;
    z-index: 1;
    position: fixed;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: fadeIn 1s;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    50% { opacity: 0 }
    100% { opacity: 1; }
}