<div #screen id="top" class="draggable">
    <div #scrollTrigger style="position: absolute; top: 285vh; height: 1px;"></div>
    
    <div [ngStyle]="backgroundStyle" class="background">
        <app-canvas></app-canvas>
    </div>
    <div class="header">
        <h1 [ngStyle]="headerStyle">hi,&nbsp;i'm&nbsp;nick</h1>
    </div>
    <div class="body" #body>
        <div class="body-1">
            <div class="text1">
                <div class="card-container">
                    <div class="text-wrapper-1" #textWrapper>
                        <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/typescript/typescript-original.svg" 
                        alt="TS Icon" class="language-icon ts-icon" />
                        <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/react/react-original.svg" 
                        alt="React Icon" class="language-icon react-icon" />
                        <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/angularjs/angularjs-original.svg" 
                        alt="Angular Icon" class="language-icon angular-icon" />
                        <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/python/python-original.svg" 
                        alt="Python Icon" class="language-icon python-icon" />
                        <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/c/c-original.svg" 
                        alt="C Icon" class="language-icon c-icon" />
                        <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/go/go-original.svg" 
                        alt="GO Icon" class="language-icon go-icon" />
                        
                        <div class="text-background-blur">
                            <div class="card-content">
                                <h2 #fadein class="hidden">aspiring&nbsp;programmer</h2>
                                <p #fadein class="hidden">frontend developer making the browser feel alive with <b>Angular</b>, <b>React</b>, & <b>React Native</b> — <a class="call-to-action" href="javascript:void(0); //THIS WORKS HAHAHHAHAH" (click)="nav('projects')">see my projects!</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="teaser-card teaser-card-1">
                        <div class="text-background-blur">
                            <div class="teaser-content">
                                <div class="teaser">
                                    <img class="teaser-image" src="assets/splitudio.jpg" alt="Splitudio Project">
                                </div>
                                <div style="padding:1.5rem;">
                                    <h2 class="hidden">i&nbsp;build&nbsp;things</h2>
                                    <p class="hidden">frontend developer making the browser feel alive with <b>Angular</b>, <b>React</b>, & <b>React Native</b> — <a class="call-to-action" href="javascript:void(0); //THIS WORKS HAHAHHAHAH" (click)="nav('projects')">see my projects!</a></p>
                                </div>
                            </div>
                        </div>
                    </div> 
                    <div class="teaser-card teaser-card-2">
                        <div class="text-background-blur">
                            <div class="teaser-content">
                                <div class="teaser">
                                    <img class="teaser-image" src="assets/listen-image.jpg" alt="Splitudio Project">
                                </div>
                                <div style="padding:1.5rem;">
                                    <h2 class="hidden">i&nbsp;build&nbsp;things</h2>
                                    <p class="hidden">frontend developer making the browser feel alive with <b>Angular</b>, <b>React</b>, & <b>React Native</b> — <a class="call-to-action" href="javascript:void(0); //THIS WORKS HAHAHHAHAH" (click)="nav('projects')">see my projects!</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="body-2">
            <div class="text2">
                <div class="text-container">
                    <div class="text-background-blur">
                        <div class="card-content">
                            <h2 #fadein class="hidden">education</h2>
                            <p #fadein class="hidden">undergraduate <b>computer science</b> student at UW Madison, see my <a href="javascript:void(0);" (click)="nav('resume')">resume</a></p>

                            <h2 #fadein class="hidden">currently playing with</h2>
                            <p #fadein class="hidden">MCP servers, GO language, Arch Linux, and Python (beyond using it for leetcode)</p>

                            <h2 #fadein class="hidden">contact</h2>
                            <p #fadein class="hidden">
                                You can email me at <a href="mailto:nickjyeung@gmail.com">nickjyeung&#64;gmail.com</a>.
                            </p>
                        </div>
                        
                    </div>
                </div>
                
                
                    
            </div>
        </div>
    </div>
    <video #keyboard #fadein class="video-container hidden" playsinline autoplay muted="muted" loop>
        <source src={{keyboardSrc}} type="video/mp4">
    </video>
    <video #madison #fadein class="video-container hidden" playsinline autoplay muted="muted" loop>
        <source src={{madisonSrc}} type="video/mp4">
    </video>

</div>

<div class="footer">
    <p>Socials: <a href="https://www.youtube.com/@yourhomiesushi" target="_blank">Youtube</a>&nbsp;|&nbsp;<a href="https://www.linkedin.com/in/nick-yeung-1ab6972a9/" target="_blank">LinkedIn</a>&nbsp;|&nbsp;<a href="https://www.instagram.com/nickisapotato/">Instagram</a></p>
    <div class="back-to-top">
        <a href=".">↑&nbsp;back&nbsp;to&nbsp;top</a>
    </div>

</div>
